{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h2>
        Change Password
    </h2>
    <form action="/change-password" method="post">
        <h3>{{message}}</h3>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="oldPassword" name="oldPassword" placeholder="Old Password" type="text" >
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="newPassword" name="newPassword" placeholder="New Password" type="text" >
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
